*{
    margin: 0px;
}
body {
    background: rgba(13, 76, 192, 0.829);
    color: white;
    margin: 0px;
    font-family: 'Roboto Mono', monospace;
}

h1 strong{
    color: whitesmoke;
    font-size: 30px;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    height: inherit;
}

.header{
    background: rgba(13, 76, 192, 0.829);
    display: flex;
    justify-content: space-between;
    height: 110px;
}

.header li {
    height: inherit;
}

.header a{
    color: honeydew;
    height: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.logo img{
    height: 110px;
}

.menu {
    height: inherit;
}

.Principal {
    font-family: 'Roboto Mono', monospace;
    color: cornsilk;
    text-align: center;
    padding: 100px;
}

.Principal img{
    width: 350px;
    margin-bottom: 20px;
}

.Principal-Button{
    background-color: red;
    border-radius: 24px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    height: 40px;
    width: 250px;
    padding: 10px;

}

.Principal h1{
    margin-bottom: 20px;
}

.Tendencias{
    text-align: center;
    background: rgba(13, 76, 192, 0.829);
    height: 750px;
    background-size: 100%;
    padding: 30px;
    color: whitesmoke;
    display: flex;
}

.Texto{
    text-align: center;
    padding: 100px;
}

.uno{
    padding: 20px;
    width: 15%;
}

.IA{
    background: rgba(13, 76, 192, 0.829);
    padding: 100px;
    width: 100%;
    text-align: center;
    color: ghostwhite;
}

.dos{
    width: 40%;
}

.tres{
    text-align: center;
    padding: 100px;
    width: 40%;
}

.VR{
   background: rgba(13, 76, 192, 0.829);
    text-align: center;
    padding: 100px;
    width: 40%;
}


.Big Data{
    background:rgba(13, 76, 192, 0.829);
    text-align: center;
    padding: 100px;
    width: 40px;
}

/*
.padre{
    background: white;
    display: flex;
    flex-wrap: nowwrap;
    flex-direction: row;
    justify-content: center;
    height: 500px;
    align-items: center;
  

}

.hijo{
    background-color: darkgreen;
    width: 300px;
    height: 300px;
    border: 2px solid yellow;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
*/

.aplicar{
    height: 600px;
    background: rgba(13, 76, 192, 0.829);
    display: flex;
    margin: 0px;
}

.aplicar-detalles{
    width: 50%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.aplicar-detalles h2{
    margin-bottom: 30px;
}

.container1{
    display: flex;
    background: rebeccapurple;
    justify-content: space-around;
    margin: 0px;

}

.container2{
    background:green;
    margin: 0px;
}

.row1-contacto{
    display: flex;
}

.row2-contacto{
    display: flex;
}


.col3-container1{
    padding: 20px;
}

.facebook{
    display: flex;
}

.instagram{
    display: flex;
}

.producto{
    display: flex;
    padding: 20px;
}

.Producto{
    text-align: center;
}